*{
    background:rgb(28, 25, 25);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;
    
}

.titulo {
    text-align: center;
    color: #fff;
}

.cuerpo {
    margin-left: 350px;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
    
}

.text-area {
    height: 400px;
    border: none;
    color: white;
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
}
::placeholder { color: white; }
  .text-area:focus {
      outline: none;
    }

.mensaje{
    height: 630px;
    background: white;
    background-image: url("/imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}
.mensaje:focus {
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar {
    background-color: red;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 120px;
    margin-top: 565px;
    position: absolute;
    width: 336px;
}

.informacion {
    color: white;
    font-size:18px;
}

.titulo-footer{
    color:#ebfffb;
    text-align: center;
    font-size: 20px;
}

.footer{
    padding: auto;
}


.buttons {
    min-width: 600px;
    display: flex;
    justify-content: space-around;
   
  }
  
  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
    padding: auto;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }